#eventMenu{
	display: inline-block;
	width: 100%; 
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 37px;
	}
	
#eventMenu .topLevel{
	position:relative;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	}

#eventMenu .topLevel li{
	float:left;
	margin:0;
	list-style-type:none;
	position:relative;
	}

#eventMenu .topLevel li div a{
	display:block;
	color:#ffffff;
	font-size:16px;
	font-weight:600;
	text-decoration:none;
	padding: 0px 0px;
	margin-right: 30px;
	line-height: 19px;
	letter-spacing: .06em;
	box-sizing: border-box;
	text-transform: uppercase;
	}

#eventMenu .topLevel li:last-of-type div a{
	margin-right: 0px;
	}

#eventMenu .topLevel li:hover a, #eventMenu .topLevel li a:hover{
	color:#CFA23D;
	text-decoration:none;
	font-weight:800;
	}

#eventMenu .topLevel li a div{
	display:block;
	background:none;
	margin:0 0px 0 0;
	padding:0px 0px 0px 0px;
	}

#eventMenu .topLevel li.hover a div, #eventMenu .topLevel li a:hover div{
	background:none;
	}

#eventMenu li.selected a, #eventMenu li.selected,
#eventmenu_mobile  li.selected a, #eventmenu_mobile li.selected{
    color: #FFF !important;
    text-decoration: none;
    font-weight: 600 !important;
}

#eventMenu li.selected:hover a, #eventMenu li.selected a:hover, 
#eventmenu_mobile li.selected:hover a, #eventmenu_mobile li.selected a:hover{
    color: #CFA23D !important;
    text-decoration: none;
    font-weight: 800 !important;
}